.hola{
    background : #2D00BC;
	background : rgba(45, 0, 188, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 479px;
	top : 147px;
	width : 746px;
	height : 302px;
	border-radius : 71px;
	-moz-border-radius : 71px;
	-webkit-border-radius : 71px;
}